@import url("https://fonts.googleapis.com/css2?family=Anton&family=Questrial&display=swap");

// colors
$background-dark: black;
$primary-light: #a98fdf;
$text-light: white;
$link-light: #c8ab43;
$pattern-dark: #106427;

// typography
$body-txt: "Questrial", sans-serif;
$identity-txt: "Anton", sans-serif;

//spacing
$unit: 8px;

// screen sizes
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobileS: "(max-width: 375px)";
$mobileM: "(min-width: 375px)";
$mobileL: "(min-width: 425px)";
$desktop: "(min-width: 1024px)";
